<h1>
  {{title}}
</h1>
<div>Licence plate:<input type="text" pInputText [(ngModel)]="licensePlate"/> <br>
  <button pButton type="button" label="Track car!" (click)="trackCar()"></button>
</div>
<br>

<p>Polls: {{pols.length}} </p>
<div>
  <div *ngIf="pols.length > 0; else noPols" id="google-map-wrapper">
    <sebm-google-map style="width: 1200px;height: 1200px">
      <sebm-google-map-directions [pols]="pols"></sebm-google-map-directions>
    </sebm-google-map>
  </div>
  <ng-template #noPols>
    <p>No pols</p>
  </ng-template>
</div>

