<h1>
  {{title}}
</h1>
<div>
  <input placeholder="License plate" type="text" pInputText [(ngModel)]="licensePlate"/>
  <button pButton type="button" label="Track car!" (click)="trackCar()"></button>
</div>

<br>

<div>
  <div *ngIf="pols.length > 0; else noPols" id="google-map-wrapper">
    <sebm-google-map class="google-maps">
      <sebm-google-map-directions [pols]="pols" [oldPols]="oldPols"
                                  [initialized]="initialized"></sebm-google-map-directions>
    </sebm-google-map>
  </div>
  <br>

  <ng-template #noPols>
    <p>No polls available</p>
  </ng-template>
</div>

